body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: dimgray;
}

li,a,button {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: rgb(37, 37, 37);
}

img{
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.logotipo{
    width: 20px;
    height: 20px;
    margin-right: 50px;
}

.nav-links{
    list-style: none;
}

.nav-links li{
  display: inline-block
  padding 0 20px;
}

.nav-links li a:hover{
    color: #6090d7;
}

button{
    padding: 10px 20px;
    background-color: #4771b0;
    border-radius: 60px;
    cursor: pointer;
}
button:hover{
    color: #6090d7;
}
 
